title {
    background-color: rgb(100, 100, 200); 
    margin: auto;
    color: black;
    text-decoration: underline;
    text-align: center;
    max-width: auto;
    min-width: auto;
    position: fixed;
}
i {
    color: hsl(249, 71%, 29%);
    font-size: 2em;
}
em {
    color: #631b80; 
    font-size: 3ex;
}
i { 
    /* color name */
    color: blue; 
    /* relative unit 3 */
    font-size: 2ch; 
}

.body {
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-self: auto;
    flex-basis: auto;
}
/* pseudo-class selector */
button:hover {
    color: green;
}

button:active {
    color: red
}
* {
    color: black;
}
p[target="foo"] { /* attribute selector */
    background-color: purple;
}
